#check88 {position: absolute;right: 70vw;top: 340.25vw;z-index: 1;
						left: 71vw ;}#check88 + .check88{--i: 
var(--check, 1);--j: calc(1 - var(--i));position: relative;width: 
10.25em;height: 10.25em;box-shadow: inset 0 0 0 4px #5ca8ff;color: 
black;

							text-align: center;

							text-transform: capitalize;

							--rect: inset(calc(var(--i)*.5px));

							-webkit-clip-path: var(--rect);

							clip-path: var(--rect);

							mix-blend-mode: var(--check, screen);


							transition: 0.35s;

							}#check88+ .check88:before, #check88 + .check88:after {

								position: absolute;

								top: 0;

								bottom: 0;

								right: 0;

								left: 0;

								opacity: var(--i);

								background: #5ca8ff;

								transition: inherit;

								content: 'Selected';

								}

	#check88 + .check88:after {

								left: 17.5%;

								background: linear-gradient(90deg, #000 50%, transparent 0) calc(var(--j)*100%)/ 200%;

								--poly: polygon(0 30%, 35% 60%, 100% 0, 100% 25%, 35% 85%, 0 55%);

								-webkit-clip-path: var(--poly);

								clip-path: var(--poly);

								transition: opacity 0.35s, background-position 0.7s 0.35s;

								}

	#check88:not(:checked) + .check88{

								--i: 0;

								}

								